
html{
  box-sizing:border-box;
  font-size: 10px;
}

*,*::before,*::after{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body{
  
  margin:0 ;
 padding: 0;

background-color:  #373737;
  
  
}
 @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css); 


.container1{
  width: 1280px;
  height: 1653px;
  margin:0 auto;
  font-family: ‘cwTeXYen’, sans-serif;
  padding-top: 97px;
}

.container2{
  width: 1280px;
  /* height: 1653px; */
  margin:0 auto;
  font-family: ‘cwTeXYen’, sans-serif;
  padding-top: 97px;
}
.container3{
  width: 1280px;
  /* height: 1653px; */
  margin:0 auto;
  font-family: ‘cwTeXYen’, sans-serif;
  padding-top: 97px;
}
.container{
  width: 1280px;
  height: 1653px;
  margin:0 auto;
  font-family: ‘cwTeXYen’, sans-serif;
  padding-top: 97px;
}
.container4{
  width: 1280px;
  
  margin:0 auto;
  font-family: ‘cwTeXYen’, sans-serif;
  padding-top: 97px;
}
a {
  color:rgb(255, 255, 255);
  text-decoration:none;
  display:block;
}
a:hover{
  color: #B4D2C6;
}
header{
  display:flex;
  width: 100%;

}


.box_banner{
display:flex;
width: 1280px;
height: 97px;

background-color:  #000000;
/* border: 1px solid #000000; */
box-sizing: border-box;

/* align-items: center; */
/*justify-content: center;*/

}
.home{
  display:flex;
  
}
.img_sign{                  
  display: flex;
  justify-content: flex-start;
}
.nav_list{
display:flex;
/* float: left; */
margin-left:400px ;
margin-top: 28px;
padding: 0px;
position:absolute;
justify-content: center;
}
.nav_sublist{
  position:absolute;
  margin: 0px;
  padding: 0px;
  background-color:  #000000;
}
.nav_item{
display:flex;
margin:0px;
flex-direction: column;
justify-content: space-between;
}
.nav_item_link{
display: block;
font-size: 18px;
text-decoration: none;
padding: 10px 20px;
color:  #ffffff;
/* border:3px solid #a09a9a; */
border-bottom: none;
}
.nav_list_item_link{
  display: block;
  font-size: 18px;
  text-decoration: none;
  padding: 10px 20px;
  color:  #ffffff;
  /* border:3px solid #a09a9a; */
  border-bottom: none;
  }
.nav_item_link:hover{
color: #B4D2C6;

}
.nav_list_item_link:hover{
  color: #B4D2C6;
  
  }
  .nav_sublist{
    position: absolute;
    background: #000000;
    margin: 0px;
    padding: 0px;
    display: none;
    list-style: none;    
  }

  .nav_list_item:hover .nav_sublist{
    display: block;
  }
  
  .nav_list_item:hover > .nav_item_link{
    color: #B4D2C6;
  }
.img_logo{
  margin-top: 103px;
  margin-left: 30px;
}
.self_more{
  display:flex;
  
}
.img_right{
width:20px;
height:20px;
margin-left: 3px;
}
.box_selfintro{
display:flex;
width: 1280px;
height: 442px;
justify-content: center;

background: #FFFFFF;
}
.hat{
  display:flex;
}
.img_right{
width:20px;
height:20px;
margin-left: 3px;

}
.img_self{
width: 461px;
height: 442px;

margin-right: 0px;
}

.content1{
  width: 305px;
  height: 130px;
  font-family: Roboto;
  margin-top:120px;
  /* margin:102px 557px 1188px 418px; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: justify;
  color: #000000;
  }
/* .self_more{
  display:flex;
  
} */
.img_logo{
width: 330px;
height: 203px;
}
.selfintro{
width: 1280px;
height: 622px;
}
.mv{
display:flex;
width: 1280px;
height: 180px;
}
.albumtitle{
font-size: 24px;
color: #ffffff;
margin-left:10px ; 
font-weight: 800;
}
.album{
width: 1280px;
height: 373px;
margin-top:50px;
}
.album_content2{
  font-size: 14px;
  width: 119px;
  display: flex;
  justify-content:center;
  margin-left: 100px;
}
.album_content1{
  font-size: 14px;
  width: 130px;
  display: flex;
  justify-content:center;
  margin-right: 121px;
  margin-left: 35px;
}
.album_content3{
  display: flex;
  font-size: 14px;
  justify-content:center;
  margin-right: 121px;
}
.album_content4{
  display: flex;
  font-size: 14px;
  justify-content:center;
}
.box_album{
display:flex;
text-decoration: none;
margin-top: 30px;
}
.album1{
width: 194px;
height: 194px;

margin-left: 70px;
margin-right: 121px; 
}
.album2{
width: 194px;
height: 194px;
margin-right: 121px;
}
.album3{
width: 194px;
height: 194px;
margin-right: 121px;
}
.album4{
width: 194px;
height: 194px;
}
.line{
width: 764px;
height: 1px;
background-color:  #858282;
/* margin:10px 0; */
margin-top:10px;
margin-bottom: 10px;
}
.cooperate-top{
  display: flex;
  /* align-items: flex-end; */
  justify-content: space-between;

}
.cooperatetitle{     
  font-size: 24px;
color: #ffffff;
font-weight: 800;
}
.more{
  color: #ffffff;
  margin-right: 0px;
  margin: 20px 0 0 0 ;
  height: 16px;
}
.cooperate{
width: 765px;
height: 400px;
margin:10px 0 10px 10px;

}
.img_concert{
  width: 300px;
height: 345px;
margin-right:150px;
margin-bottom:50px;
}
.cooperate-word{
  font-size: 14px;
}
.date{
  color: #858282;
}
.cooperater{
  display: flex;
  height: 390px;
}

.box_footer1,.box_footer2,.box_footer3,.box_footer4,.box_footer5{
  display:flex;
  /* width: 1280px; */
  
  /* align-content:flex-end; */
  
  height: 82px;
  align-items: center;
  margin-top:100px;
  
  }
  /* footer{
    background:#000000;
    height:82px;
    position:fixed;
    bottom:0;
    left:0px;
    width: 100%
    
    } */
  footer{
    height: 82px;
    /* width: 100%; */
    margin-bottom: 0px;
    background:#000000;
    margin-top: 0px;
  margin-right: 0;
  }
.social{
  display: flex;
}
.social1,.social2,.social3,.social4,.social5{
  width: 30px;
  height: 30px; 
  margin-right:39px;
}
.social1{
  margin-left:10px;
}
.COPYRIGHT{
  font-size: 14px;
  color:#FFFFFF;
  margin-left:400px;
}
@keyframes fadein {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
.pic_container{
position:relative;
animation-iteration-count:infinite;
}


.picture1,.picture2{
  width: 1280px;
  height: 442px;
  
}
.music_img{
  width: 26px;
  height: 26px;
  margin: 0;
}
.song_title{
  font-size: 24px;
  color: #ffffff;
  margin-left: 10px;  
}
.song-top{
  display: flex;

}
.img_coop{
  width: 250px;
  height: 600px;
  margin-left: 10px;
}
.img_pic6{
  width: 200px;
  height: 200px;
  margin-top: 360px;
  
}
.songs{
 margin-left: 200px;
 margin-right: 0;
 margin-left: 0;
}
.s_line{
  width: 764px;
 height: 1px;
 background-color:  #858282;
 margin:10px 0;
 

}
.song {
  display: flex;
  justify-content: space-between;
  /* text-align:left; */
  margin-right: 30px;
  margin-left: 25px;
  color:#ffffff;
  font-size: 14px;
}
.song-r{
  display: flex;
  gap: 15px;
}
.songdate{
  font-size: 12px;
  color: #858282;
}

.brandtitle{
  font-size: 24px;
  color: #ffffff;
  margin: 10px 0 40px 10px;
  }
  
  .brandname{
     font-size: 24px;
     text-align: center;
      color: #ffffff;
      font-family: Arial;
      font-style: italic;
  }
  .brline{
    width: 1200px;
    height: 3px;
    background-color:  #858282;
    margin:10px 40px;  
  
  }
  
  .brandpic{
   
    margin: 10px 290px 50px;
  }
  
  .brandcon{
    margin-left: 376px;
    font-size: 14px;
    color: #ffffff;
    width: 527px;
    height: 88px;
    text-align: center;
  }
  
  .media{
    display:flex;
    justify-content: center;
    gap:30px;
    margin-bottom: 20px;
  }
  .media1{
    width:35px;
    height: 35px;
  
  }
  .product{
    display: flex;
    margin-bottom: 200px;
    margin-top: 100px;
  }
  .pro{
    display: flex;
  }
  .product1,.product1-1{
    width:256px;
    height: 256px;
  }


/* .slick-slide {
  margin:10px; }
   */
 /* .slider{
  display:flex;
  flex-direction: row;
} 
.slider.items{
  width:320px;
  height: 180px;
  
} 
.slider.items img{
  width:320px;
  height: 180px;
  
}  */


.slider {
  width: 90%;
  margin: 100px auto;
}
.slick-slide {
margin: 0px 10px;
}

.slick-slide img {
width: 100%;
}

.slick-prev:before,
.slick-next:before {
color: black;
}


.slick-slide {
transition: all ease-in-out .3s;
opacity: .2;
}

.slick-active {
opacity: 1;
}

.slick-current {
opacity: 1;
}


.mv1{
  width:320px;
  height: 180px;

}
.mv2{
  width:320px;
  height: 180px;
}
.mv3{
  width:320px;
  height: 180px;
}
.mv4{
  width:320px;
  height: 180px;
}
.mvpic {
  width: 1280px;
  margin: 0 auto;
}

.slider {
  width: 50%;
  margin: 100px auto;
}

.slick-slide {
margin: 0px 20px;
}

.slick-slide img {
width: 100%;
}

.slick-prev:before,
.slick-next:before {
color: black;
}


.slick-slide {
transition: all ease-in-out .3s;
opacity: .2;
}

.slick-active {
opacity: .5;
}

.slick-current {
opacity: 1;
}

#navbarmain{
  width: 100%;
  height: 96px;
  margin:0 auto;
  /* left:15px; */
}

.img_sign{
  width: 97px;
  height: 97px;
}
.home{
  width: 97px;
  height: 97px;
}
img {
margin: 0 auto;
}
.box_banner{
display:none;
}
/* .box_selfintro{
  margin-top:97px;
} */
.box_footer1{
  width: 150%;
 bottom:100px;
 
 
 left: 0;
 margin:0 auto;
 margin-top:100px;
}
.box_footer{
  width: 150%;
 bottom:100px;
 
 
 left: 0;
 margin:0 auto;
 margin-top:100px;
}
.box_footer2{
  width: 150%;
 bottom:100px;
 
 
 left: 0;
 margin:0 auto;
 margin-top:100px;
}
.box_footer3{
  width: 150%;
 bottom:100px;
 
 
 left: 0;
 margin:0 auto;
 margin-top:100px;
}
.box_footer4{
  width: 100%;
 bottom:100px;
 
 
 left: 0;
 margin:0 auto;
 margin-top:118px;
}

.albumslider{
  display: none;
  position: relative;
  /* width: 240px;
  height: 240px; */
}
/* .d-block {
  
  width: 200px;
  height: 200px;
}
.slick-slide img{
 
  width: 200px;
  height: 200px;
} */

.navbar-dark .navbar-nav .nav-link{
  font-size: 18px;
  color:#FFFFFF;
}
.nav-link:hover{
  color: #B4D2C6;
}
  /* 遊戲合作 */
  .img_game{
    width:240px;
    height: 135px;
  }
  .g-line{
    display: flex;
    margin: auto;
    background-color: #fff;
    width:1125px;
    height:1px;
  }
  .g-line1{
    display: none;
  }
  .game-1row,.game-2row,.game-3row,.game-4row{
    display: flex;
    justify-content:center;
    gap:33px;
  }
  .game1,.game2,.game3,.game4,.game5,.game6,.game7,.game8{
    display: flex;
    margin: 27px 0;
    gap:23px;
  }
  .game_title{
    display: flex;
    justify-content:center;
    font-size: 24px;
    color: #ffffff;
    font-weight: 800;
  }
  .game-word{
    width: 248px;
    height: 33px;
  }
  .word{
   margin-top: 43px;
  }
  .dropdown-item:focus, .dropdown-item:hover{
    color:#B4D2C6;
    background-color: black;
  }
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link{
  color: #B4D2C6;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
  color: #B4D2C6; 
}
.dropdown-item{
  color:white;
    background-color: black;
}
.dropdown-menu{
  background-color: black;
}
.album4:hover{
  filter: brightness(50%);
}
.album3:hover{
  filter: brightness(50%);
}
.album2:hover{
  filter: brightness(50%);
}
.album1:hover{
  filter: brightness(50%);
}
.music_img{
  width: 26px;
  height: 26px;
}
.social1:hover{
  width: 40px;
  height: 40px;
}
.social2:hover{
  width: 40px;
  height: 40px;
}
.social3:hover{
  width: 40px;
  height: 40px;
}
.social4:hover{
  width: 40px;
  height: 40px;
}
.social5:hover{
  width: 40px;
  height: 40px;
}
#spinner {
  position: fixed;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.box_spinner{
  width: 1500px;
  height: 2000px;
  background-color: black;
  margin:0 auto;
 
}
.img_sign2{
  width: 500px;
  height: 500px;
  margin-left:100px;
}
.animateimg{
  display: flex;
}
.img_animate2{
  width: 400px;
  height: 600px;
}
#myProgress {
  /* position: relative; */
  width: 100%;
  height: 30px;
  background-color: #ddd;
  margin-top:0px;
}

#myBar {
  /* position: absolute; */
  width: 10%;
  height: 100%;
  background-color: #78998c;;
}

#label {
  text-align: center;
  line-height: 30px;
  color: white;
}
.footer{
  margin-top: 100px;
  bottom: 100px;
}

/* 首頁 (M)*/
@media (max-width: 768px) 
{ 
  .container1{
    width: 768px;
    height: 1653px;
    margin:0 auto;
  }
  /* .box_banner{
    width: 768px;
  
  } */
  .img_logo{
    margin-top: 60px;  
  }
  .mvpic{
    margin: 0 ;
    padding: 0;
    height: 162px;
    width: 768px;
  }
  .mv4{
    height: 162px;
    width: 240px;
  }
  #mv1{
    height: 162px;
    width: 240px;
  }
  .a{
    display: block;
  }
  .nav_list{
    display: none;
  }
  .navbar {
    padding:0px;
  }
  .dropdown-item:focus, .dropdown-item:hover {
    color: #B4D2C6;
    background-color:#000000;
  }
  .dropdown-menu{
    background-color: #000000;
    border:0px;
  }
  .dropdown-item{
color: #fff;
  }
  .selfintro{
    width: 768px;
    height: 442px;
  }
  .box_selfintro{
    width: 768px;
    height: 442px;
  }
  .box_spinner{
    width: 100%;
    position:fixed;
  }
  .self{
    margin-left: 69px;
  }
  .img_self{
    width: 386px;
    height: 442px;
    margin: 0;
  }
  .hat{
    flex-direction: column;
    margin-bottom: 10px;
  }
  .content1{
    margin-top:0;
    height: 96px;
  }
  .mv1,.mv2,.mv3,.mv4{
    width: 256px;
    height: 162px;
  }
  .album{
    
    width: 768px;
    height: 300px;
  }
  .album4box{
    display: none;
  }
  .album1,.album2,.album3{
    margin:0px;
  }
 
  .album_content3{
    margin-left:70px; 
  }
  .album_content2{
    margin-left:40px; 
  }
  .album1box{
    
    width: 200px;
    height:240px;
    margin-left:43px;
  }

  .album2box{
    width: 200px;
    height:240px;
margin-left: 0px;
  }
  .album3box{
    margin-left: 0px;
      }
  .album2{
    margin-left: 0px;

  }
  .box_album{
    gap:43px;
  }
  .img_concert{
    display: none;
  }
  .cooperate{
    margin-top:50px;
    
  }
  
  .more{
    margin-bottom:0px;
    height:20px;
  }
  .cooperate-top{
    margin-right:20px;
    display: flex;
    align-items: center;
  }
  .box_footer1{
  
    width: 768px;

    margin:0 auto;
    /* right:40px; */
    margin-left: 25px;
    margin-top:131px;
  }
  .COPYRIGHT{
    margin:200px;
    font-size:12px;
  }
  .navbar-dark .navbar-nav .nav-link{
    top:10px;
    background-color:#000000;
  }
  .img_sign{
    margin-left: 330px;
  }
 
  #spinner{
    width: 768px;
  }
  
  #navbarmain{
    width: 768px;
    margin-left:0px;
    
  }
}
  /* 原創 */
  @media (max-width: 768px){
    .container2{
     width: 768px;
     height: 1200px;
      margin:0 auto;
    }
   .song_img{
     width: 768px;
     height: 425px;
   }
   .song_title{
     font-size: 24px;
    
   }
   .img_pic6{
     display: none;
   }
   .img_coop{
    display: none;
   }
   .songs{
     margin: 0,auto;
   }
  .container2{
   width: 768px;
   height: 1280px;
    margin:0 auto;
  }
 .song_img{
   width: 768px;
   height: 425px;
 }
 .song_title{
   font-size: 24px;
  
 }
 .img_pic6{
   display: none;
 }
 .img_coop{
  display: none;
 }
 .songs{
   margin: 0,auto;
   margin-bottom: 100px;
 }
 .box_footer2{
   margin-top:100px ;
 }
}
/* 翻唱 */
@media (max-width: 768px){
  .container2{
   width: 768px;
   height: 1200px;
    margin:0 auto;
  }
 .song_img{
   width: 768px;
   height: 425px;
 }
 .song_title{
   font-size: 24px;
  
 }
 .img_pic6{
   display: none;
 }
 .img_coop{
  display: none;
 }
 .songs{
   margin: 0,auto;
 }
}
 
 /* 遊戲(M) */
 @media (max-width: 768px){
 
  .container4{
    width: 768px;
  }
  .g-line{
    width:660px;
    margin: 25px 50px;
  }
  .g-line1{
    width:660px;
    display: flex;
    margin: auto;
    background-color: #fff;
    height:1px;
  }
  .game-1row,.game-2row,.game-3row,.game-4row{
    display: flex;
    flex-direction: column;
  }
  .game1,.game2,.game3,.game4,.game5,.game6,.game7,.game8{
    
    margin: 27px auto;
    gap:23px;
  }
  .game_title{
    display: flex;
    justify-content:center;
    font-size: 24px;
  }
  .game-word{
    width: 248px;
    height: 33px;
  }
  .word{
   margin-top: 43px;
  }
  
  .COPYRIGHT{
    margin: 0;
  }
  /* .box_footer4{
    margin-top: 600px;
  } */
 }
@media (max-width: 768px){
  .container3{
    width: 768px;
    height: 1453px;
    margin:0 auto;
  }
  .box_banner{
    width: 768px;
  
  }
  .img_sign{
    margin-left: 330px;
  }
  
  .cooperatetitle{     
    display: flex;
    justify-content:center;
    font-size: 24px;
    color: #ffffff;
    font-weight: 800;
  }
  .brline{
    width: 700px;
    margin:10px auto;  
  }
  .brandpic{
   margin: 10px auto 50px;
   margin-left:35px;
  }
  .brandcon{
    margin: 0 auto;
    width: 527px;
    height: 88px;
    text-align: center;
    
  }
  .product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 21px;
  }
  .product1-1{
    display: none;
  }
  .product1{
    margin: 0;
    width: 222px;
    height: 222px;
  }
  .pro{
    display: flex;
    gap: 16px;
  }
  .box_footer3{
    margin-top: 0px;
  }
 }
/* 首頁手機板 */
@media (max-width: 320px){
  .body{
    width: 320px;
    height: 1000px;
  }
  .container1{
  width: 320px;
    height: 600px;
}
  .content1{
    width: 242px;
    height: 150px;
    color: #000000;
    position:relative;
    font-weight: bold;
    font-size: 12px;
    z-index: 20;  

  }
  .img_self{
    width: 320px;
    height: 440px;
    position:absolute;
    filter: blur(3px);
    z-index: 0;
  }
  .img_logo{
    display: none;
  }
  .selfintro{
    width: 320px;
    height: 459px;
    margin:0 auto;
  }
  .box_self2{
    /* position:absolute; */
    position:relative;
    width: 242px;
    height: 184px;
    background-color: #D9D9D9;
    filter:opacity(.5);
    z-index: 10;
    margin-right: 50px;
    margin-top:150px;
  
  }
  .box_selfintro{
    width: 320px;
    height: 459px;
    margin-right: 50px;
  }
 
  .slick-slide img{
 
    width: 150px;
    height: 150px;
  }
  .album{
    display: none;
  }
  .mv{
    display: none;
  }
  .albumslider{
    width: 320px;
    height:200px;
    margin-top:50px;
  }
  /* .carousel-item active{
    width: 150px;
    height:150px;
  } */
  .slick-track{
    width: 200px;
    height:200px;
  }
  .album1box,.album2box,.album3box{
    display: none;
  }
  .line{
    width: 262px;
  }
  .cooperate-word{
    width: 259px;
    height: 51px;
  }
  .date{
    margin-top: 10px;
  }
  .img_sign{
    margin:0px;
  }
  .more{
    display:none;
  }
  #navbarmain{
    width: 320px;
    height: 96px;
    margin:0 auto;
    margin-left:0px;
    margin-right:0px;
  }
  
  .box_footer1{
    margin:0 auto;
    margin-top:200px;
  }
  .navbar-dark .navbar-toggler{
    margin-right:20px;
    margin-bottom:20px;
  }

  .cooperate{
    margin-top: 0px;
  }
  .albumslider{
    visibility: visible;
  }
  .box_footer1{
    height: 82px;
    display: flex;
    flex-direction: column;
    width: 320px;
  }
  .social1,.social2,.social3,.social4,.social5{
    width: 17px;
    height: 17px;
    margin-right: 9px;
  }
  .social{
    margin: auto;
  }
  .COPYRIGHT{
    font-size: 12px;
    margin-bottom:20px;
  }
}


 /* 歌單手機版 */
 @media (max-width: 360px){
  body{
    height: 1269px;
  }
  .container2{
    width: 320px;
    height: 1269px;
  }
  .img_sign{
    margin-left: 130px;
  }
  .song_img{
    margin: 0 auto;
    width: 320px;
    height: 176px;
  }
  .song_title{
    margin:27px 0 0px 0px;
    font-size: 13px;
  }
  .s_line{
    width: 318px;
   margin:27px 0;
  }
  .img_pic6{
    display: none;
  }
  .img_coop{
   display: none;
  }
  .songs{
    margin: 0,auto;
  }
  .song{
    font-size: 12px;
  }
  .song-top{
    display: flex;
    margin: 0 auto;
  }
  .box_footer2{
    height: 82px;
    display: flex;
    flex-direction: column;
    width: 320px;
  }
  .social1,.social2,.social3,.social4,.social5{
    width: 17px;
    height: 17px;
    margin-right: 9px;
  }
  .social{
    margin: auto;
  }
  .COPYRIGHT{
    font-size: 12px;
    margin-bottom:20px;
  }
}
/* 合作品牌手機版 */
@media (max-width: 320px){
  .container3{
    width: 320px;
    height: 1607px;
    margin:0 auto;
  }
  
  .img_sign{
    margin-left: 120px;
  }
  .brandtitle{
    font-size: 13px;
    margin: 10px 0 40px 0px;
  }
  .cooperatetitle{     
    display: flex;
    justify-content:center;
    font-size: 14px;
  }
  .brline{
    width: 250px;
    margin:20px auto;  
  }
  .brandpic{
    width: 268px;
    height: 175px;
    margin:0 0 10px 27px;
  }
  .brandcon{
    margin: 0 auto;
    width: 220px;
    height: 80px;
    text-align: center;
  }
  .media{
    width: 183px;
    height: 41px;
    margin: 20px  auto 0 auto;
  }
  .media1{
    width: 37px;
    height: 37px;
  }
  .pro{
    display:flex;
    flex-direction: column;
  }
  .product1-1{
    display: block;
    margin: 0;
    width: 222px;
    height: 222px;
  }
  .box_footer3{
    height: 82px;
    display: flex;
    flex-direction: column;
    width: 320px;
  }
  .social1,.social2,.social3,.social4,.social5{
    width: 17px;
    height: 17px;
    margin-right: 9px;
  }
  .social{
    margin: auto;
  }
  .COPYRIGHT{
    font-size: 12px;
    margin-bottom:20px;
    margin-left: 30px;
  }
}
/* 遊戲合作手機版 */
@media (max-width: 320px){
  .container4{
    width: 320px;
    height: 2000px;
  }

  .game_title{
    font-size: 14px;
  }
  .g-line{
    width:250px;
    margin: 0 auto;
  }
  .g-line1{
    width:250px;
    display: flex;
    margin: auto;
    background-color: #fff;
    height:1px;
  }
  .game-1row,.game-2row,.game-3row,.game-4row{
   gap: 0;
  }
  .game1,.game2,.game3,.game4,.game5,.game6,.game7,.game8{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 27px auto 0 auto;
    gap: 0;
  }
  /* .box_footer4{
    margin-top: 1650px;
    height: 82px;
    display: flex;
    flex-direction: column;
    width: 320px;
  } */
  .box_footer4{
    height: 82px;
    display: flex;
    flex-direction: column;
    width: 320px;

  }
  .word{
    position:relative;
    bottom:40px
  }
  .social1,.social2,.social3,.social4,.social5{
    width: 17px;
    height: 17px;
    margin-right: 9px;
  }
  .social{
    margin: auto;
  }
  .COPYRIGHT{
    font-size: 12px;
    margin-bottom:20px;
    margin-left: 30px;
  }
}